<?xml version="1.0" ?>
<!--
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 ********************************************************************
 * @category   BelVG
 * @package    BelVG_ProductTabs
 * @copyright  Copyright (c) BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="BelVG_ProductTabs::tab_management" sortOrder="10" title="Tab Management">
					<resource id="BelVG_ProductTabs::tab_save" sortOrder="10" title="Save Tab"/>
					<resource id="BelVG_ProductTabs::tab_delete" sortOrder="20" title="Delete Tab"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="BelVG_ProductTabs::config" title="Product Tabs Section"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
